@import "styles/variables";

.card-size {
  height: 75vh;
  width: 75vw;
}

@media (max-width: $sm-screen) {
  .card-size {
    height: 95vh;
    width: 95vw;
    transition: transform 0.6s ease-in-out;
  }
}
