<div class="card shadow-sm border-0 card-size">
  <div class="card-header bg-white border-bottom-0">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="card-body bg-white">
    <ng-content select="[body]"></ng-content>
  </div>
  <div class="card-footer bg-white border-top-0">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
