$dark: #1f1f1f;
$light-grey: #f5f5f5;
$white: #ffffff;
$sm-screen: 320px;
$md-screen: 768px;
$lg-screen: 1024px;

@font-face {
  font-family: "Averta";
  src: url(../assets/avertape-regular.otf) format("truetype");
}
