@import "styles/variables";

.text-input {
  min-height: 48px;
  border: none;
  background: $light-grey;
  color: $dark;
  width: 100%;
  padding-left: 12px;
  font-size: 14px;
  &:focus {
    background-color: $white;
  }
}

.wcc-label {
  font-size: 12px;
  margin-bottom: 8px;
  color: $dark;
}

.wcc-label.asterisk-if-mandatory::after {
  content: " *";
}

input.form-control {
  line-height: 24px;
}
