<div [formGroup]="parentForm" class="mb-3">
  <ng-container *ngIf="hasFormGroupName">
    <div [formGroupName]="groupName">
      <label
        [for]="id"
        class="form-label wcc-label"
        [ngClass]="{ 'asterisk-if-mandatory': required }"
      >
        {{ label }}
      </label>
      <input
        #input
        class="form-control text-input"
        [id]="id"
        [formControlName]="id"
        [placeholder]="placeholder"
        [type]="type"
        (focus)="onFocus.emit()"
        (blur)="update(input.value)"
        (keyup.enter)="update(input.value)"
      />
    </div>
  </ng-container>
  <ng-container *ngIf="!hasFormGroupName">
    <label
      [for]="id"
      class="form-label wcc-label"
      [ngClass]="{ 'asterisk-if-mandatory': required }"
    >
      {{ label }}
    </label>
    <input
      #input
      class="form-control text-input"
      [id]="id"
      [formControlName]="id"
      [placeholder]="placeholder"
      [type]="type"
      (focus)="onFocus.emit()"
      (blur)="update(input.value)"
      (keyup.enter)="update(input.value)"
    />
  </ng-container>
</div>
