<div
  class="
    d-flex
    justify-content-center
    align-items-center
    vw-100
    vh-100
    bg-light
  "
>
  <app-card>
    <div header>
      <app-stepper [width]="stepperWidth"></app-stepper>
    </div>
    <div body *ngIf="formView?.inputs?.length">
      <form [formGroup]="form" novalidate>
        <ng-container *ngFor="let input of formView?.inputs">
          <app-input
            [id]="input.id ? input.id : ''"
            [autofocus]="input.autofocus ? input.autofocus : false"
            [required]="input.required ? input.required : false"
            [groupName]="input.formGroupName ? input.formGroupName : ''"
            [parentForm]="form"
            [label]="input.label ? input.label : ''"
            [placeholder]="input.placeholder ? input.placeholder : ''"
            [type]="input.type ? input.type : 'text'"
            (onFocus)="input?.onFocus() && input.onFocus()"
          >
          </app-input>
        </ng-container>
        <app-message
          [error]="error"
          [display]="error"
          [content]="'Please fill in the remaining fields*'"
        >
        </app-message>
      </form>
    </div>
    <div body *ngIf="!formView?.inputs?.length" class="h-100">
      <div class="flex-column h-100 align">
        <app-dynamic-icon [options]="options"> </app-dynamic-icon>
        <br /><br />
        <app-message [display]="true" [content]="paymentErrorMessage">
        </app-message>
      </div>
    </div>
    <div
      footer
      [ngClass]="formView?.buttons?.length === 1 ? 'flex-end' : 'space-between'"
    >
      <ng-container *ngFor="let button of formView?.buttons">
        <app-button
          [title]="button.title ? button.title : ''"
          [outline]="button.outline ? button.outline : false"
          (onClick)="button.onClick()"
        >
        </app-button>
      </ng-container>
    </div>
  </app-card>
</div>
