@import "styles/variables";

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vi;
  text-align: center;
  word-break: break-word;
}

@media (max-width: $sm-screen) {
  .space-between {
    display: grid;
    justify-content: center;
    app-button:first-child {
      margin-bottom: 1rem;
    }
    app-button {
      justify-self: center;
    }
  }

  .flex-end {
    display: flex;
    justify-content: center;
  }
}
